<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Common Stub</h1>
  </ion-header-bar>
  <ion-content>
    <div>
      <button class="button button-light" ng-click="getAllEvents()">getAllEvents</button>
      <span ng-bind="getAllEventsResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="getEventsByMasterID('1')">getEventsByMasterID</button>
      <span ng-bind="getEventsByMasterIDResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="getEventsByYear('2015')">getEventsByYear</button>
      <span ng-bind="getEventsByYearResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="getEventsByYearAndMonth('2015', '10')">getEventsByYearAndMonth</button>
      <span ng-bind="getEventsByYearAndMonthResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="getEventByID('1')">getEventByID</button>
      <span ng-bind="getEventByIDResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="getAllEventSponsors('1')">getAllEventSponsors</button>
      <span ng-bind="getAllEventSponsorsResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="getPerkRuleSetOfEvent('1')">getPerkRuleSetOfEvent</button>
      <span ng-bind="getPerkRuleSetOfEventResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="getTacticalActionRuleSetOfEvent('1')">getTacticalActionRuleSetOfEvent</button>
      <span ng-bind="getTacticalActionRuleSetOfEventResult"></span>
    </div>
  </ion-content>
</ion-pane>