<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">ComSys Stub</h1>
  </ion-header-bar>
  <ion-content>
    <div>
      <button class="button button-light" ng-click="updateComsysPersonalConfig('','','')">updateComsysPersonalConfig</button>
      <span ng-bind="updateComsysPersonalConfigResult" ng-class="loginSuperadminClass"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="getComsysPersonalConfig()">getComsysPersonalConfig</button>
      <span ng-bind="getComsysPersonalConfigResult" ng-class="getComsysPersonalConfigClass"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="loginComsys('comsys01', 'comsys01')">loginComsys</button>
      <span ng-bind="loginComsysResult" ng-class="loginComsysClass"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="changeComsysPassword('', '')">changeComsysPassword</button>
      <span ng-bind="changeComsysPasswordResult" ng-class="changeComsysPasswordClass"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="logoutComsys()">Logout</button>
      <span ng-bind="logoutComsysResult" ng-class="logoutComsysClass"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="loginCheckComsys()">Login Check</button>
      <span ng-bind="loginCheckComsysResult" ng-class="loginCheckComsysClass"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="createComsys('comsys02','comsys02','david')">createComsys</button>
      <span ng-bind="createComsysResult" ng-class="createComsysClass"></span>
    </div>
     <div>
      <button class="button button-light" ng-click="getEventsOfComsys()">getEventsOfComsys</button>
      <span ng-bind="getEventsOfComsysResult" ng-class="getEventsOfComsysClass"></span>
    </div>
    <div>
      <button class="button button-energized" ng-click="sendNotificationToOperator()">sendNotificationToOperator</button>
    </div>
    <div>
      <button class="button button-energized" ng-click="sendNotificationToSquad()">sendNotificationToSquad</button>
    </div>
    <div>
      <button class="button button-energized" ng-click="addEnemyPing()">addEnemyPing</button>
    </div>
    <div>
      <button class="button button-energized" ng-click="sendTimestamp(10, 1, 1)">sendTimestamp</button>
    </div>
    <div>
      <button class="button button-energized" ng-click="sendNotificationToComsys()">sendNotificationToComsys</button>
    </div>
    <div>
      <button class="button button-energized" ng-click="sendNotificationToFaction()">sendNotificationToFaction</button>
    </div>
    <div>
      <button class="button button-energized" ng-click="getComsysAllowedNotifReceiver()">getComsysAllowedNotifReceiver</button>
    </div>
  </ion-content>
</ion-pane>