<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title"> Master Stub </h1>
  </ion-header-bar>
  <ion-content>
    <div>
      <button class="button button-light" ng-click="login()">
        Login
      </button>
      <span ng-bind="loginResult"></span>
    </div>
	
    <div>
      <button class="button button-light" ng-click="loginCheck()">
        Login Check
      </button>
      <span ng-bind="loginCheckResult"></span>
    </div>
	
    <div>
      <button class="button button-light" ng-click="logout()">
        Logout
      </button>
      <span ng-bind="logoutResult"></span>
    </div>
	
    <div>
      <button class="button button-light" ng-click="updateMasterConfig()">
        Update Master Personal Config
      </button>
      <span ng-bind="updateMasterConfigResult"></span>
    </div>
	
    <div>
      <button class="button button-light" ng-click="getAllMasterSponsors()">
        Get All Master Sponsors
      </button>
      <span ng-bind="getAllMasterSponsorsResult"></span>
    </div>
	
	  <div>
      <button class="button button-light" ng-click="updateMasterSponsor('1', '', '')">
	  updateMasterSponsor
	  </button>
      <span ng-bind="updateMasterSponsorResult"></span>
    </div>
  
  <div>
      <button class="button button-light" ng-click="getMasterSponsorByName()">
        getMasterSponsorByName
      </button>
      <span ng-bind="getMasterSponsorByNameResult"></span>
    </div>
    
    <div>
      <button class="button button-light" ng-click="createMasterSponsor('', '')">
            createMasterSponsor
      </button>
      <span ng-bind="createMasterSponsorResult"></span>
    </div>
	
	   <div>
      <button class="button button-light" ng-click="createMaster()">
        Create Master
      </button>
      <span ng-bind="createMasterResult"></span>
    </div>

	   <div>
      <button class="button button-light" ng-click="changeMasterPassword()">
        changeMasterPassword
      </button>
      <span ng-bind="changeMasterPasswordResult"></span>
    </div>
	
		   <div>
      <button class="button button-light" ng-click="deleteMasterSponsor('')">
        deleteMasterSponsor
      </button>
      <span ng-bind="deleteMasterSponsorResult"></span>
    </div>

			   <div>
      <button class="button button-light" ng-click="getAllPerks()">
        getAllPerks
      </button>
      <span ng-bind="getAllPerksResult"></span>
    </div>

<div>
      <button class="button button-light" ng-click="removeSponsorOfEvent(1, 1)">
        removeSponsorOfEvent
      </button>
      <span ng-bind="removeSponsorOfEventResult"></span>
    </div>

<div>
      <button class="button button-light" ng-click="attachSponsorToEvent(1, 1)">
        attachSponsorToEvent
      </button>
      <span ng-bind="attachSponsorToEventResult"></span>
    </div>

<div>
      <button class="button button-light" ng-click="getTacticalActionRuleSetRulesByTacticalActionRuleSetID(1)">
        getTacticalActionRuleSetRulesByTacticalActionRuleSetID
      </button>
      <span ng-bind="getTacticalActionRuleSetRulesByTacticalActionRuleSetIDResult"></span>
    </div>

<div>
      <button class="button button-light" ng-click="deleteTacticalActionRuleSetRule(1)">
        deleteTacticalActionRuleSetRule
      </button>
      <span ng-bind="deleteTacticalActionRuleSetRuleResult"></span>
    </div>

<div>
      <button class="button button-light" ng-click="getAllMasterTacticalActionRuleSets()">
        getAllMasterTacticalActionRuleSets
      </button>
      <span ng-bind="getAllMasterTacticalActionRuleSetsResult"></span>
    </div>

<div>
      <button class="button button-light" ng-click="deleteMasterTacticalActionRuleSet(1)">
        deleteMasterTacticalActionRuleSet
      </button>
      <span ng-bind="deleteMasterTacticalActionRuleSetResult"></span>
    </div>
	
<div>
      <button class="button button-light" ng-click="getTacticalActionByID(1)">
        getTacticalActionByID
      </button>
      <span ng-bind="getTacticalActionByIDResult"></span>
    </div>

<div>
      <button class="button button-light" ng-click="getTacticalActionsByName('1')">
        getTacticalActionsByName
      </button>
      <span ng-bind="getTacticalActionsByNameResult"></span>
    </div>

<div>
      <button class="button button-light" ng-click="getAllTacticalActions()">
        getAllTacticalActions
      </button>
      <span ng-bind="getAllTacticalActionsResult"></span>
    </div>

<div>
      <button class="button button-light" ng-click="createMasterTacticalActionRuleSet('1')">
        createMasterTacticalActionRuleSet
      </button>
      <span ng-bind="createMasterTacticalActionRuleSetResult"></span>
    </div>

<div>
      <button class="button button-light" ng-click="updateMasterTacticalActionRuleSet('1', '1')">
        updateMasterTacticalActionRuleSet
      </button>
      <span ng-bind="updateMasterTacticalActionRuleSetResult"></span>
    </div>

<div>
      <button class="button button-light" ng-click="createTacticalActionRuleSetRule()">
        createTacticalActionRuleSetRule
      </button>
      <span ng-bind="createTacticalActionRuleSetRuleResult"></span>
    </div>

<div>
      <button class="button button-light" ng-click="updateTacticalActionRuleSetRule('1', '1', '1', '1', '1', '1', '1', '1', '1', '1')">
        updateTacticalActionRuleSetRule
      </button>
      <span ng-bind="updateTacticalActionRuleSetRuleResult"></span>
    </div>
	
  </ion-content>
</ion-pane>
