<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Operator Stub</h1>
  </ion-header-bar>
  <ion-content>
    <div>
      <button class="button button-light" ng-click="getOperatorPersonalConfig()">Get Operator Personal Config</button>
      <span ng-bind="getOperatorPersonalConfigResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="loginCheckOperator()">loginCheckOperator</button>
      <span ng-bind="loginCheckOperatorResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="changeOperatorPassword('', '')">changeOperatorPassword</button>
      <span ng-bind="changeOperatorPasswordResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="loginOperator('operator01', 'operator01')">Login</button>
      <span ng-bind="loginResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="updateOperatorPersonalConfig()">updateOperatorPersonalConfig</button>
      <span ng-bind="updateOperatorPersonalConfigResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="createOperator()">createOperator</button>
      <span ng-bind="createOperatorResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="operatorLogout()">logout</button>
      <span ng-bind="logoutResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="createSquad('1', '123')">createSquad</button>
      <span ng-bind="createSquadResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="deleteSquad('1', '123')">deleteSquad</button>
      <span ng-bind="deleteSquadResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="lockFactionSquad('1', '123')">lockFactionSquad</button>
      <span ng-bind="lockFactionSquadResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="unlockFactionSquad('1', '123')">unlockFactionSquad</button>
      <span ng-bind="unlockFactionSquadResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="kickOperatorFromFactionSquad('1', '123', '1')">kickOperatorFromFactionSquad</button>
      <span ng-bind="kickOperatorFromFactionSquadResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="joinFactionSquad('1', '123', '1')">joinFactionSquad</button>
      <span ng-bind="joinFactionSquadResult"></span>
    </div>
    <div>
      <button class="button button-light" ng-click="leaveFactionSquad('1', '123', '1')">leaveFactionSquad</button>
      <span ng-bind="leaveFactionSquadResult"></span>
    </div>
    <div>
      <button ng-click="sendNotificationToOperator()">sendNotificationToOperator</button>
    </div>
    <div>
      <button ng-click="addPing()">addPing</button>
    </div>
    <div>
      <button ng-click="updateLocation()">updateLocation</button>
    </div>
  </ion-content>
</ion-pane>