.button {
	margin-top: 10px;
}

.ng-binding {
	border-radius: 50%;
	color: black;
	display: inline-block;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 14px;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.scroll-content {
	text-align: center;
}

.blue {
  	background-color: blue;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}